*
{
    margin: 0;
    padding: 0;
    border: 0;
}        
.nav_logo
{
    height: 120px;
    width: 250px;
    
}
#background
{
    height: 190px;
    background-color: #6D7993;
}
.navbar-header
{
    height: 150px;
}
#navbar_mobile
{
    left: 20px;
    margin-top: 40px;
    background-color:#6D7993;
}
button.navbar-toggle.collapsed
{
    margin-left: 20px;
}
.navbar-default .navbar-nav>li>a
{
    color: #f5f5f5 ;
}
body
{
    font-family: 'Lato', sans-serif;
    background-color: #D5D5D5;
}
.content
{
    margin-top: 250px;
}
.footer
{
    
    bottom: 0;
    width: 100%;
    height:60px;
    background-color:#6D7993;
    color: #f5f5f5;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center
}
.email
{
    text-decoration: none !important;
    color:#f5f5f5;

}