*
{
    margin: 0;
    padding: 0;
    border: 0;
}

/* Extra small devices (portrait phones, less than 576px) 
    Iphone 6
*/
@media (max-width: 575px) {
    #pastor_image
    {
        max-width: 70% !important;
    }   
    .pastor_james
    {
        display: inline-block;
        max-width: 100% !important;
        height: auto;
    }
    .staff_photo
    {
    width: 100% !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
    #pastor_image
    {
        max-width: 70% !important;
    }  
    .pastor_james
    {
        display: inline-block;
        max-width: 100% !important;
        height: auto;
    }
    .staff_photo
    {
    width: 100% !important;
    }
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
    #pastor_image
    {
        max-width: 70% !important;
    }  
    .pastor_james
    {
        display: inline-block;
        max-width: 100% !important;
        height: auto;
    }
    .staff_photo
    {
    width: 100% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) { ... }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }