.pastor_james
{
    max-width: 40% !important;
    height: auto;
    display: inline;
}

.position_right
{
    max-width: 56% !important;
    float: right;
}

.info
{
    margin-top: 30px;
    text-align: justify;
    font-size: 15px;
    letter-spacing: 1px;
}